.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
}

.toggleGroup {
  display: flex;
  max-width: 305px;
  margin: 0 auto;
}

.toggleButton {
  flex: 1;
  background-color: var(--background-color);
  padding: 10px 20px;
  border: 1px solid #d8d8d8;
  cursor: pointer;
}

.toggleButton:hover {
  background-color: #F3F3F3;
}

.toggleButton.active {
  background-color: #F3F3F3;
}

.toggleButton:first-child {
  border-radius: 6.25rem 0 0 6.25rem;
  border-right: none;
}

.toggleButton:last-child {
  border-radius: 0 6.25rem 6.25rem 0;
  border-left: none;
}